.DS_Store
public
resources
.idea
.vscode
content/.obsidian
content/private
content/templates
content/daily
content/ref
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
content/templates/post.md
