// Add your own CSS here!

:root {
  --light: #faf4e6;
  --dark: #302833;
  --secondary: #69821b;
  --tertiary: #82ae46;
  --visited: #aacf53;
  --primary: #ea5506;
  --gray: #524e4d;
  --lightgray: #f0f0f0;
  --outlinegray: #949495;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #302833 !important;
  --dark: #faf4e6 !important;
  --secondary: #cd5e3c !important;
  --visited: #bb5535 !important;
  --tertiary: #dd7a56 !important;
  --primary: #82ae46 !important;
  --gray: #e5e4e6 !important;
  --lightgray: #292633 !important;
  --outlinegray: #949495 !important;
}



