// Add your own CSS here!

:root {
  --light: #fff9e8;
  --dark: #5C6A72;
  --secondary: #8da101;
  --tertiary: #5b810f;
  --visited: #4f5d38;
  --primary: #f85552;
  --gray: #829181;
  --lightgray: #a6b0a0;
  --outlinegray: #939f91;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #2b3339 !important;
  --dark: #d3c6aa !important;
  --secondary: #f1d87e !important;
  --visited: #e6b975 !important;
  --tertiary: #be8212 !important;
  --primary: #f85552 !important;
  --gray: #e5e4e6 !important;
  --lightgray: #292633 !important;
  --outlinegray: #504f45 !important;
}



